html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
   body { line-height: 1; }
   ol, ul { list-style: none; }

body {
	background-color: rgb(65,65,65);
}

button {
	display: inline-block;
	margin-top: 2px;
	float: left;
	border: none !important;
}

form {
	float: left;
	width: 475px;
}

h1 {
	background-color: rgb(220,220,220);
	width: 380px;
	height: 22px;
	float: left;
	color: rgb(65,65,65);
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 23px;
	padding: 20px; 
}

h2 {
	color:white;
	font-size: 50px;
	margin-top: 45px;
	margin-left: 12px;
}

input {
	float: right;
	width: 170px;
	height: 17px;
	border: 1px;
    margin: 2px;
}

label {
	clear: both;
    float:left;
    color: rgb(208,214,218);
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    margin-top: 8px;

}


p {
	margin: 20px;
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: white;
}

p.portfolio_title{
    margin: 20px 0px 0px 20px;
    font-weight: 600;
    color: black;
}

p.portfolio_text{
    margin-top: 2px;
    color: black;
}

textarea {
	float: right;
	width: 100%;
	height: 155px;
	resize: vertical;
	border: none;
	padding: 0px !important; /*user agent rewrite*/
	display: block;
	margin: 2px;
}

ul {
    font-size: 0;
    float: right;
    padding: 0;
    margin-right: 80px;
    list-style-type: none;
}

#blog {
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-color: rgb(0,0,0);
    display: inline-block;
    padding: 10px;
}

.blog_item{
    width: 435px;
    height:150px;
    background-color:rgb(198,189,189);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.7;
    margin: 10px;
    float: left;
	padding: 20px;
	line-height: 130%;
}

.blog_text{
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 8px;
    line-height: 20px;
    text-align: justify;
    color: white;
	
}

#contact {
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 20px;
	margin-left: 20px;
	width: 455px;
	height: 100px;
	background-color: white;
		/* These three lines are for transparency in all browsers. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.5;
}

#container {
	width: 1056px;
	height: 1068px;
	margin: auto;
    margin-top: 37px;
}


#content {
	clear: both;
	background-color: rgb(220,220,220);
	width: 1056px;
	height: auto;
	padding: 1px;
}

#contactme {
	background-image: url("images/bg4.png");
}

#description {
	width: 400px;
	height: 480px; /*CHECK IF WE NEED TO CARE ABOUT ZOOM IN*/
	background-color:rgb(65,65,65);
	/* These three lines are for transparency in all browsers. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.5;
	margin: 20px;
	padding: 1px;
}

.floatleft {
	clear: left;
	float: left;
	color: black;
}

.floatright {
	clear: right;
	float: right;

}

.footer_e {
	width: 254px;
	float: left;
} 

#footer_e1 img{
	max-width:30%;
	max-height:30%;
}
#footer_e2 img{
	max-width:15%;
}
#footer_e4 img{
	max-width:80%;
}

#form {
	width: 1016px;
	margin-top: 175px;
	display: inline-block;
	padding: 12px;

}

.img_right{
float: left;
margin-right: 10px; 
}


#index {
	background-image: url("images/bg1.png");	
}

.main_content {
	height: auto;
	margin: 20px;
	padding: 1px;
}

.nav li {
   display: inline-block;
   margin-right: 10px;
}

.nav li img {
	width: 113px;
	height: 62px;
}
.nav a { text-decoration: none; color: #fff;}


#portfolio {
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;
    background-color: rgb(0,0,0);
    display: inline-block;
    padding: 10px;
}

.portfolio_item_row1 {
    width: 228px;
    height:255px;
    background-color: rgb(255,255,255);
    margin: 10px;
    float: left;
}

.portfolio_item_row1 img, .portfolio_item_row2 img{
    width: 100%   
}

.portfolio_item_row2 {
    width: 228px;
    height: 275px;
    background-color: rgb(255,255,255);
    margin: 10px;
    float: left; 
}

#footer {
	width:auto;
	display:inline-block;
	margin: 20px;
	background-color: rgb(71,124,139);
}



